@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v29y2r');
  src:  url('fonts/icomoon.eot?v29y2r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v29y2r') format('truetype'),
    url('fonts/icomoon.woff?v29y2r') format('woff'),
    url('fonts/icomoon.svg?v29y2r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gl-"], [class*=" gl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gl-arrow-right2:before {
  content: "\ea3c";
}
